.signup-container {
  display: flex;

  justify-content: space-between;

  max-height: 100%;
}

.signup-left {
  flex: 1;
  height: 100vh;
}

h1 {
  color: rgb(25, 16, 91);
}

.imagefirst {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  /* margin-top: -40px; */
}

.signup-right {
  flex: 1;

  padding: 0px 0px;

  border-radius: 8px;

  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);

  margin-top: 4%;
}

.signup-right h1 {
  font-size: 28px;
}

.signup-right h2 {
  margin-bottom: 10%;

  margin-top: 0;

  text-align: center;

  font-size: 24px;

  color: rgb(25, 16, 91);
}

.signup-right form {
  display: flex;

  flex-direction: column;

  margin-right: 30px;

  margin-left: 30px;
}

.signup-right input {
  margin-bottom: 10px;

  padding: 10px;

  border: 1px solid #ccc;

  border-radius: 4px;
}

.signupbutton {
  background-color: rgb(25, 16, 91);

  color: white;

  border: none;

  border-radius: 4px;

  padding: 10px;

  cursor: pointer;
}

.signupbutton {
  width: 35%;
  margin-left: 5%;
}

.olduserbutton {
  background-color: white !important;
  color: black !important;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.olduserbutton {
  width: 40%;
  border: none;
}

.input-container {
  position: relative;
}

.input-container i {
  position: absolute;
  left: 80px;
  top: 25%;
  transform: translateY(-50%);
  color: #ccc;
}

.pngimg {
  position: absolute;
  z-index: 999;
  left: 13%;
  top: 33%;
  height: 20%;
  width: 20%;
}

.input-container input {
  padding-left: 15px;

  border: none;

  border-bottom: 1px solid #ccc;

  width: 60%;

  outline: none;

  margin-bottom: 8%;

  font-size: 14px;
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .imagefirst {
    width: 100%;
    height: 110%;
    background-size: cover;
    /* margin-top: -40px; */
  }

  .signup-right {
    flex: 1;
    padding: 0px 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
  }

  .signup-right form {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-left: 40px;
  }

  .input-container {
    position: relative;
  }

  .input-container i {
    position: absolute;
    left: 50px;
    top: 25%;
    transform: translateY(-70%);
    color: #ccc;
  }

  .pngimg {
    position: absolute;
    z-index: 999;
    left: 15%;
    top: 33%;
    height: 20%;
    width: 20%;
}

  .input-container input {
    padding-left: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 60%;
    outline: none;
    margin-bottom: 8%;
    font-size: 14px;
  }
}
@media screen and  (min-width: 291px) and (max-width: 400px){
  .input-container i {
    position: absolute;
    left: 20px;
    top: 25%;
    transform: translateY(-45%);
    color: #ccc;
  }
  .imagefirst {
    width: 100%;
    height: 80vh;
    background-size: 100% 100%;
    margin-top: -100px;
    margin-left: 0px;
  }

  .signup-right form input {
    font-size: 10px;
  }

  .signup-right h1 {
    font-size: 25px;
  }

  .signup-right {
    margin-top: 50%;
    margin-left: -100%;
  }

  .signup-right form {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
  }

  .signup-left {
    height: 100%;
    width: 100%;
  }

  .fa-regular {
    padding: 20px 0px;
    margin-top: 3px;
  }

  .fa-solid {
    padding: 20px 0px;
    margin-top: 3px;
  }
  .pngimg {
    position: absolute;
    z-index: 999;
    left: 28%;
    top: 4%;
    height: 12%;
    width: 44%;
  }
  .olduserbutton{
    font-size: 13px;
  }
}

@media screen and (min-width: 401px) and (max-width: 700px) {
  .input-container i {
    position: absolute;
    left: 50px;
    top: 25%;
    transform: translateY(-50%);
    color: #ccc;
  }
  .imagefirst {
    width: 100%;
    margin-top: -100px;
    margin-left: 0px;
  }

  .signup-right form input {
    font-size: 16px;
  }

  .signup-right h1 {
    font-size: 25px;
  }

  .signup-right {
    margin-top: 30%;
    margin-left: -100%;
  }

  .signup-right form {
    /* margin-left: 14px; */
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
  }

  .signup-left {
    height: 100%;
    width: 100%;
  }

  .fa-regular {
    padding: 20px 0px;
    margin-top: 3px;
  }

  .fa-solid {
    padding: 20px 0px;
    margin-top: 3px;
  }
  .pngimg {
    position: absolute;
    z-index: 999;
    left: 35%;
    top: 2%;
    height: 10%;
    width: 30%;
  }
}

@media screen and (max-width: 290px){
  .pngimg {
    position: absolute;
    z-index: 999;
    left: 32%;
    top: 2%;
    height: 11%;
    width: 40%;
  }

  .signup-right{
      margin-top: 38%;
      margin-left: -100%;
      padding: 0px;
  }
  .olduserbutton{
    font-size: 9px;
    position: initial;
  }

  .signupbutton{
    font-size: 10px;
    padding: 3px 3px;
  }

  .input-container i {
    position: absolute;
    left: 12px;
    top: 22%;
    transform: translateY(-10%);
    color: #ccc;
    font-size: 14px;
  }

  .input-container input {
    padding-left: 17px;
    font-size: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 70%;
    outline: none;
    margin-bottom: 10%;
  }

  .signup-right form input{
    font-size: 12px;
    /* padding: 0px; */
    margin-right: 0px;
    margin-left: 0px;
  }
  .signup-right form{
    margin-right: 0px;
    margin-left: 0px;
  }

  .signup-right h1 {
    font-size: 12px;
  }
  .signup-left {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .imagefirst {
    width: 100%;
    margin-top: -25%;
  }

  .signup-right form input {
    font-size: 16px;
  }

  .signup-right h1 {
    font-size: 28px;
  }

  .signup-right {
    margin-top: 25%;
    margin-left: -100%;
  }

  .signup-right form {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
  }

  .signup-left {
    height: 100%;
    width: 100%;
  }

  .fa-regular {
    padding: 8px 5px;
    margin-top: 8px;
  }

  .fa-solid {
    padding: 8px 5px;

    margin-top: 8px;
  }
  .pngimg {
    z-index: 1;
    position: absolute;
    left: 35%;
    top: 2%;
    height: 12%;
    width: 30%;
  }
}
